.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
}

.postBody {
    flex: 1;
}

p {
    margin: 0;
    padding: 0;
}

.postBody > img {
    border-radius: 20px;
    width: 100%;
}

.postFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.postHeaderDescription {
    margin-bottom: 10px;
    font-size: 15px;
}

.postHeaderText > h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.postBadge {
    font-size: 14px !important;
    color: var(--twitter-color) !important;
}

.postHeaderSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.postAvatar {
    padding: 15px;
}
